<div class="title text-center my-3">
    <h2 class="fw-bold">قاعات الزفاف</h2>
    <h4>تعرف علي أحدث قاعات الزفاف الحديثة لدي
        <span class="brand">
            فرح
        </span>
    </h4>
</div>


<div class="container my-5">
    <div class="row row-gap-5">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a routerLink="/details">
                <div class="box">
                    <div class="top">
                        <img src="../../assets/Capture.PNG" alt="" />
                    </div>
                    <div class="bottom p-3">
                        <h2 class="fw-bold brand ">
                            ليله العمر </h2>
                        <p class="apartment-location">
                            <i class="fa-solid fa-location-dot"></i> طريق المنصورية
                        </p>
                        <div class="d-flex text-warning gap-2">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            25000 جنيه
                        </div>

                    </div>

                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a routerLink="/details">
                <div class="box">
                    <div class="top">
                        <img src="../../assets/Capture.PNG" alt="" />
                    </div>
                    <div class="bottom p-3">
                        <h2 class="fw-bold brand ">
                            ليله العمر </h2>
                        <p class="apartment-location">
                            <i class="fa-solid fa-location-dot"></i> طريق المنصورية
                        </p>
                        <div class="d-flex text-warning gap-2">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            25000 جنيه
                        </div>

                    </div>

                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a routerLink="/details">
                <div class="box">
                    <div class="top">
                        <img src="../../assets/Capture.PNG" alt="" />
                    </div>
                    <div class="bottom p-3">
                        <h2 class="fw-bold brand ">
                            ليله العمر </h2>
                        <p class="apartment-location">
                            <i class="fa-solid fa-location-dot"></i> طريق المنصورية
                        </p>
                        <div class="d-flex text-warning gap-2">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            25000 جنيه
                        </div>

                    </div>

                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a routerLink="/details">
                <div class="box">
                    <div class="top">
                        <img src="../../assets/Capture.PNG" alt="" />
                    </div>
                    <div class="bottom p-3">
                        <h2 class="fw-bold brand ">
                            ليله العمر </h2>
                        <p class="apartment-location">
                            <i class="fa-solid fa-location-dot"></i> طريق المنصورية
                        </p>
                        <div class="d-flex text-warning gap-2">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            25000 جنيه
                        </div>

                    </div>

                </div>
            </a>
        </div>
    </div>

</div>




<div class="reservation text-center text-white py-5">

    <h1 class="fw-bold">احجز قاعة فرحك الأن</h1>


    <h5 class="my-3"> تمتع بالعديد من العروض و الخصومات علي جميع خدماتنا ٫ احجز فرحك الأن مع فرح </h5>

    <button class="btn brandbtn  my-5  py-2 px-3 "> عرض القاعات </button>
</div>`