

//  backgoround of all section
.background-container {
  position: relative;
  height: 250px;
  background-image: url('../../assets/hall.jpg'); /* قم بتحديث المسار إلى صورتك */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(33, 2, 27, 0.5); /* هنا يمكنك تعديل اللون والشفافية */
}

.content {
  position: relative;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

.vendor-box {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  text-align: right;
}   



/* * Search Form * */
.inner-form {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.input-field {
margin: 10px;
flex: 1 1 200px; 
}

.input-select select {
width: 100%; 
padding: 10px;
border: 2px solid #ccc;
border-radius: 10px; 
background-color: #f9f9f9; 
font-size: 16px;
outline: none;
appearance: none;
background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15.5l-7-9h14l-7 9z" fill="%233a3a3a"/></svg>'); /* Custom arrow */
background-repeat: no-repeat;
background-position: right 10px center;
background-size: 20px auto;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
select option {
font-weight: 500;
}
.input-select select option.placeholder {
display: none; 
}

.btn-search {
padding: 10px 20px;
background-color:#6449E7;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
}

.btn-search:hover {
background-color: #4624f2;
}


/* * portfolio * */

.portfolio {
margin-top: 2rem;
}
.section-title {
color: #6449E7;
font-weight: bolder;
position: relative;
/* margin-left: 1rem; */
width: 100%;
}

.section-title::before {
content: '';
position: absolute;
top: 0;
left: -15px; 
width: 15px; 
height: 100%;

background-color: #6449E7; 
border-radius: 5px;
}

/*! CARD */

.container .box {
background-color: white;
position: relative;
box-shadow: 5px 4px 20px 4px #00000016;
border-radius: 15px ;
}

.container .box .top {
position: relative;
}

.container .box .for-sale {
background-color: #6449E7;
color: white;
font-size: 13px;
font-weight: bold;
padding: 4px 10px;
position: absolute;
top: 0;
left: 0;
transform: translateY(-50%);
z-index: 1;
}
/* .container .box:before {
content: "";
border-width: 12px;
border-style: solid;
border-color: transparent transparent transparent #6449E7;
position: absolute;
left: 70px;
font-weight: bold;
top: 0;
transform: translateY(-50%);
z-index: 55;
} */

.container .box .top:before {
content: "";
width: 100%;
height: 100%;
background-color: #6349e77a;
position: absolute;
left: 0;
top: 0;
transition: 0.3s;
opacity: 0;
}

.container .box .top button.view-property-btn {
background-color: white; 
color: #6449E7;
font-size: 12px;
padding: 10px;
border: 1px solid white;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
cursor: pointer;
transition: 0.3s;
transition-delay: .08s;
opacity:0;
border-radius: 15px;
font-weight: bold;
z-index: 10;
}

.container .box .top:hover button.view-property-btn {
opacity: 1;
}

.container .box .top img {
width: 100%;
height: 350px; 
object-fit: cover; 
border-top-right-radius: 10px;
transition: 0.3s;
}

.container .box .top:hover img{
filter: blur(3px);
}

.container .box .top span {
position: absolute;
right: 20px;
bottom: 15px;
color: white;
font-size: 20px;
}

.container .box .top span i {
margin-left: 5px;
}

.container .box .bottom {
padding: 20px 15px;
position: relative;
}


.container .box .bottom {
padding: 20px 15px;
position: relative;
}

.container .box .top {
position: relative;
}
.container .box .bottom h3 {
font-size: 15px;
}

.container .box .bottom > p {
margin: 15px 0;
font-size: 13px;
line-height: 1.4;
color: #777;
}

.container .box .bottom .advants {
display: flex;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
gap: 15px;
}


.container .box .bottom .advants > div > span {
font-weight: bold;
font-size: 12px;
}

.container .box .bottom .advants > div > div {
margin-top: 10px;
display: flex;
align-items: center;
}

.container .box .bottom .advants > div > div i {
color: #777;
font-size: 22px;
}

.container .box .bottom .advants > div > div > span {
font-size: 12px;
font-weight: bold;
margin-left: 10px;
}

.container .box .bottom .advants > div > div > span > span {
color: #777;
font-weight: normal;
margin-left: 5px;
}

.container .box .price {
position: absolute;
top: 0;
right: 0;
background-color: #6449E7;
color: white;
font-size: 1rem;
padding: 4px 10px;
transform: translateY(-50%);
z-index: 1;
border-radius: 5px;
font-weight: bold;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.apartment-title{
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 10px;
overflow: hidden;
text-overflow: ellipsis;

}
.container .box .footer {
padding: 10px;
background-color: #f9f9f9;
border-top: 1px solid #ddd;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.container .box .footer .owner-info {
display: flex;
justify-content: space-between; 
align-items: center;
}

.container .box .footer .owner-details {
display: flex;
align-items: center;
}

.container .box .footer .owner-details .owner-image {
width: 40px;
height: 40px;
border-radius: 50%;
overflow: hidden;
margin-right: 10px;
}

.container .box .footer .owner-details .owner-image img {
width: 100%;
height: 100%;
object-fit: cover;
}

.container .box .footer .owner-details .owner-name {
margin: 0;
font-weight: bold;
}

.container .box .footer .ad-time {
margin: 0;
font-size: 12px;
color: #777;
}

/* *Search* */
.search-form {
width: 100%;
max-width: 800px;
margin: auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form .form-row {
margin-bottom: 15px;
}

.search-form .form-group {
position: relative;
}

.search-form .form-group label {
position: absolute;
top: -25px;
left: 0;
width: 100%;
font-size: 14px;
color: #555;
}

.search-form .form-group select {
padding-left: 35px;
}

.search-form .form-group i {
position: absolute;
top: 8px;
left: 10px;
color: #aaa;
}

.search-form button {
width: 100%;
}


.no-results-message {
color:#6449E7;
font-weight: bold;
margin-top: 1rem;
}

.no-results-image {
max-width: 500px;
margin-bottom: 20px;
}
.custom-pagination {
font-weight: 500;

}

.custom-pagination .page-link {
font-size:1.3rem ;

cursor: pointer;
padding: 10px 20px;
color: #6449E7;  
}

.custom-pagination .page-link:hover {
background-color: #f8f9fa;

}

.custom-pagination .active .page-link {
background-color:#6449E7;
border-color:#6449E7;
color: white;
}


/* Media query */
@media (max-width: 768px) {
.input-field {
  flex-basis: 100%; 
}
.custom-pagination .page-link{
 padding: 5px 8px;
}
}



.main {
margin: 0 auto;
}

.cards {
list-style: none;
gap: 1rem;

}

.card_image {
display: flex;
position: relative;
height: 250px;
box-shadow: 0 50px 100px 0 var(--violet);

}
.fa-heart {
position: absolute;
bottom: 10px;
left: 10px; 
color:var(--main-color);
font-size: 24px; 
cursor: pointer;
background-color: white;
border-radius: 50%; 
padding: 5px; 
}
.card_image img {
display: block;
width: 100%;
height: auto;
object-fit: cover;
}

.card {
overflow: hidden;
background-color: var(--main-color);
border-radius: 5px 25px 5px 50px;
transition: transform 0.1s linear, box-shadow 0.2s;
cursor: pointer;
}

.card_text:focus,
.card:focus {
outline: 2px dashed var(--main-color);
}

.card:focus,
.card:hover {
transform: scale(1.01);
box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.card_content {
padding: 0.5rem 1rem 1rem;
color:white;
width: 600px;
}

.card_title {
position: absolute;
top: 0;
right: 0;
color: white;
padding: 0.5rem;
border-radius: 5px 0 0 5px;
transform: rotate(-3.3deg);
transform-origin: left top;
font-family: Georgia, Times, serif;
font-weight: 600;
font-size: 1.325rem;
overflow: hidden;
z-index: 1;
background-color: rgba(253, 73, 160, 0.75);
animation: 0s 0s fly-in 0 reverse both;
}

@media (min-width: 535px) {
.card_title {
  animation: 0.5s 0.25s fly-out 1 both;
}
}

.card:focus .card_title,
.card:hover .card_title {
animation: 0.5s ease-in 0s fly-in 1 both;
}

.card_text {
line-height: 1.5;
text-size-adjust: 0.2px;
padding: 0 1rem;
}

.card_text p:first-of-type:first-letter {
font-size: 1.8em;
margin-right: 0.05em;
}


@keyframes fly-in {
0% {
  top: 0;
  right: 0;
  font-size: 1.325rem;
}

25% {
  top: 0;
  right: -200%;
  font-size: 1.325rem;
}

26% {
  font-size: 2rem;
}

100% {
  top: 2rem;
  right: 0;
  font-size: 2rem;
}
}

@keyframes fly-out {
0% {
  top: 2rem;
  right: 0;
  font-size: 2rem;
}

50% {
  top: 0;
  right: -200%;
  font-size: 1.325rem;
}

100% {
  top: 0;
  right: 0;
  font-size: 1.325rem;
}
}


.pagination button {
font-size: 14px;
padding: 8px 16px;
color: white; 
background-color: var(--main-color); 
border: 1px solid var(--main-color); 

}

.pagination button:hover {
background-color: transparent;
color: var(--main-color); 
border-color: var(--main-color); 
}

.pagination button.active {
border-color: var(--main-color); 
}

.pagination span {
margin: 0 10px;
font-size: 16px;
font-weight: bold;
}


.col-lg-3 {
margin-top: 1rem; 

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .form-range {
    width: 100%;
    padding: 10px;
    margin-bottom: 0.5rem; 
    appearance: none; 
    background-color: #e9ecef; 
    height: 10px; 
    border-radius: 5px; 
    outline: none; 
    transition: background-color 0.15s ease-in-out;
    
  }

}
}





