<div class="background-container mb-5">
    <div class="overlay"></div>
    <div class="content">
        <h1>قاعات افراح </h1>
        <p>اهلا بك في قاعات موقع فرح </p>
    </div>
</div>

<div class="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5" *ngFor="let hall of getPaginatedHalls()">
          <div class="card position-relative" tabindex="0">
            <div class="card_image">
              <img [src]="hall.imageUrl" alt="">
              <i class="fas fa-heart"></i>
            </div>
            <div class="card_content">
              <h2 class="card_title">{{hall.price}}</h2>
              <p>{{hall.name}}</p>
              <p>{{ truncateDescription(hall.description) }}</p>
              <a [routerLink]="['/hall-details', hall.id]" class="card__button btn btn-light">مزيد من التفاصيل</a>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination mb-5 d-flex justify-content-center align-items-center">
        <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1" class="btn  mr-2">
          Previous
        </button>
        <span>{{ currentPage }}</span>
        <button (click)="onPageChange(currentPage + 1)" class="btn ml-2">
          Next
        </button>
      </div>
      