<div class="background-container">
  <div class="overlay"></div>
  <div class="content">
    <h1>مصورين افراح</h1>
    <p>اهلا بك في مصورين موقع فرح</p>
  </div>
</div>    
 

<div class="shell">
  <div class="container" dir="rtl">

      <div *ngIf="photographer.length>0 ; else noServices" class="d-flex flex-wrap">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let photo of getPaginatedphotographer()">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img [src]="'https://localhost:44322' + photo.pictureUrls[0]" alt="{{ photo.description }}"
                class="img-responsive" />

            </div>
            <div class="wsk-cp-text">
              <div class="category">
                <a [routerLink]="['/hall-details', photo.photographyID]" class="card__button btn btn-light">مزيد من التفاصيل</a>
              </div>
              <div class="title-product">
              </div>

              <p>{{ photo.description| dots }}</p>

              <div class="card-footer d-flex align-items-center">
                <div class="mr-auto">
                  <!-- <span class="price">السعر:{{ photo. | currency:'EGP' }} </span> -->
                </div>


              </div>
              <div class="d-flex justify-content-center">
                <button *ngIf="!photo.isFavorite" (click)="toogleFavorite(photo.photographyID)" class="btn btn-dark m-2">
                  أضف للمفضلة <i class="fas fa-heart"></i>
                </button>
                <button *ngIf="photo.isFavorite" (click)="toogleFavorite(photo.photographyID)" class="btn btn-dark m-2">
                  حذف من المفضله <i class="fas fa-heart text-danger"></i>
                </button>


              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  <app-spinner *ngIf="isload"></app-spinner>
  <div class="pagination mb-5 d-flex justify-content-center align-items-center">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1" class="btn mr-2">
      السابق
    </button>
    <span>الصفحة {{ currentPage }} من {{ totalPages }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages" class="btn ml-2">
      التالي
    </button>
  </div>
</div>

<ng-template #noServices>
  <div class="row">
    <div class="col-md-12 text-center not-found">
      <img src="../../assets/NotFound.webp" alt="No services found" width="400" height="300">
      <p class="display-1 fw-bold">لا توجد قاعات متاحة </p>
    </div>
  </div>
</ng-template>