<div class="container-fluid mt-5 mb-5">
    <div class="row">
    
      <div class="col-lg-4 col-md-6 mb-3 position-relative">
        <img [src]="currentImage" alt="{{ dress.name }}" class="dress-image img-fluid">
        <div class="coloredDiv"></div>
        <div class="thumbnail-images mt-3">
          <img *ngFor="let image of thumbnails" 
               class="thumbnail" 
               [src]="image.thumb" 
               (click)="changeImage(image.large)">
        </div>
      </div>
  
      <!-- Details Section -->
      <div class="col-lg-8 col-md-6 details mt-5 fs-4">
        <h2>{{ dress.name }}</h2>
        <p><strong>الاسم:</strong> {{ dress.name }}</p>
        <p><strong>السعر:</strong> {{ dress.price }}</p>
        <p><strong>متاح للايجار:</strong> {{ dress.IsForRent }}</p>
        <p><strong>الوصف:</strong> {{ dress.description }}</p>
        <p><strong>تم شراؤه:</strong> {{ dress.IsSold }}</p> 
        <div class="row mt-3 mb-3 w-50">
          <div class="col-md-8">
            <label for="features">اضافة مميزات:</label>
            <textarea id="features" class="form-control" rows="4" placeholder="اضافة مميزات" [(ngModel)]="features"></textarea>
          </div>
        </div>
  
        <button [routerLink]="['/favorite-dress']" class="btn m-2">
          أضف الى المفضلة <i class="fas fa-heart"></i>
        </button>
        <button [routerLink]="['/booking-dress']" class="btn m-2">
          أحجز الان <i class="fas fa-calendar-check"></i>
        </button>
      </div>
    </div>
  </div>
  