<div class="main">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5" *ngFor="let car of getPaginatedCars()">
          <div class="card position-relative" tabindex="0" (click)="navigateToDetails(car.id)">
            <div class="card_image">
              <img [src]="car.imageUrl" alt="">
              <i class="fas fa-heart"></i>
            </div>
            <div class="card_content">
              <h2 class="card_title">{{car.price}}</h2>
              <p>{{car.name}}</p>
              <p>{{ truncateDescription(car.description) }}</p>
            
              <button (click)="addToFavorites(car)" class="btn btn-light btn-remove">
                <i class="fas fa-heart-broken"></i> إزالة  
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination mb-5 d-flex justify-content-center align-items-center">
        <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1" class="btn  mr-2">
          السابق
        </button>
        <span>{{ currentPage }}</span>
        <button (click)="onPageChange(currentPage + 1)" class="btn ml-2">
          التالي
        </button>
      </div>
    </div>
  </div>
  