<div class="title text-center my-3">
    <h2 class="fw-bold"> خدمات موقع فرح </h2>
    <h4>تعرف علي أحدث الخدمات لدي
        <span class="brand">
            فرح
        </span>
    </h4>
</div>


<div class="container my-5 ">
    <div class="row justify-content-center gap-2 m-auto">
        <div class=" col col-12 col-md-6 col-lg-3 ">
            <div class="box">
                <div class="top m-auto">
                    <img class="w-100" src="../../assets/categories/wedding-hall.svg" alt="" />
                </div>
                <div class="bottom p-3 ">
                    <h4 class="fw-bold brand my-2">
                        قاعات افراح </h4>
                    <button class="button text-center">
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text" routerLink="/hall">شاهد الكل
                            </span>
                        </span>
                    </button>
                </div>

            </div>

        </div>
        <div class="col col-12 col-md-6 col-lg-3">
            <div class="box">
                <div class="top m-auto">
                    <img class="w-100" src="../../assets/categories/Car.svg" alt="" />
                </div>
                <div class="bottom p-3 ">
                    <h4 class="fw-bold brand ">
                        تأجير سيارة </h4>


                    <button class="button text-center my-2">
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text" routerLink="/car">شاهد الكل
                            </span>
                        </span>
                    </button>
                </div>

            </div>

        </div>
        <div class="col col-12 col-md-6 col-lg-3 ">
            <div class="box">
                <div class="top m-auto">
                    <img class="w-100" src="../../assets/categories/Photographer .svg" alt="" />
                </div>
                <div class="bottom p-3 ">
                    <h4 class="fw-bold brand ">
                        حجز مصور </h4>


                    <button class="button text-center my-2">
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text" routerLink="/photographer">شاهد الكل
                            </span>
                        </span>
                    </button>
                </div>

            </div>

        </div>
        <div class="col col-12 col-md-6 col-lg-3 ">
            <div class="box">
                <div class="top m-auto">
                    <img class="w-100" src="../../assets/categories/dress.svg" alt="" />
                </div>
                <div class="bottom p-3 ">
                    <h4 class="fw-bold brand  ">
                        تأجير فستان </h4>


                    <button class="button text-center my-2 ">
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text" routerLink="/dress">شاهد الكل
                            </span>
                        </span>
                    </button>
                </div>

            </div>

        </div>
        <div class="col col-12 col-md-6 col-lg-3 ">
            <div class="box">
                <div class="top m-auto">
                    <img class="w-100" src="../../assets/categories/beauty-center.svg" alt="" />
                </div>
                <div class="bottom p-3 ">
                    <h4 class="fw-bold brand ">
                        بيوتي سنتر </h4>


                    <button class="button text-center my-2">
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text" routerLink="/beauty">شاهد الكل
                            </span>
                        </span>
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- 
 <div class="card-container">
    <div class="card">
        <div class="title-1">القاعات</div>
        <div class="content">
            <img src="hall.jpg" alt="القاعات">
        </div>
        <button class="btn">مزيد من التفاصيل</button>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
    </div>
    <div class="card">
        <div class="title-1">الفساتين</div>
        <div class="content">
            <img src="dress.jpg" alt="الفساتين">
        </div>
        <button class="btn">مزيد من التفاصيل</button>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
    </div>
    <div class="card">
        <div class="title-1">المصور</div>
        <div class="content">
            <img src="photographer.jpg" alt="المصور">
        </div>
        <button class="btn">مزيد من التفاصيل</button>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
    </div>
    <div class="card">
        <div class="title-1">السيارات</div>
        <div class="content p-0">
            <img src="https://www.motortrend.com/uploads/2023/09/002-2024-BMW-i5-front-three-quarters-in-action.jpg" alt="السيارات" class="w-100">
        </div>
        <button class="btn">مزيد من التفاصيل</button>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
    </div>
    <div class="card">
        <div class="title-1">شاهد الجميع</div>
        <div class="content">
            <img src="view_all.jpg" alt="شاهد الجميع">
        </div>
        <button class="btn">مزيد من التفاصيل</button>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
    </div>
</div> -->
<div class="reservation text-center text-white py-5">
    <div class="background-overlay"></div>
    <h1 class="fw-bold">احجز تجهيزات فرحك الأن</h1>
    <h5 class="my-3">تمتع بالعديد من العروض والخصومات على جميع خدماتنا، احجز فرحك الآن مع فرح</h5>
    <button class="btn brandbtn my-5 py-2 px-3">عرض القاعات</button>
</div>