<div class="title text-center my-3">
    <h2 class="fw-bold"> خدمات موقع فرح </h2>
    <h4>تعرف علي أحدث الخدمات لدي
        <span class="brand">
            فرح
        </span>
    </h4>
</div>



<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col col-12 col-md-6 col-lg-4  my-5" *ngFor="let category of categories">
      <div class="nft">
        <div class="main">
          <img class="tokenImage" [src]="category.image" alt="NFT" />
          <h2 class="mt-2 text-light">{{ category.title }}</h2>
          <p class="description"><button class="btn" [routerLink]="category.link">شاهد الكل</button></p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>


  
<div class="reservation text-center text-white py-5">
    <div class="background-overlay"></div>
    <h1 class="fw-bold py-5">احجز تجهيزات فرحك الأن</h1>
    <h5 class="my-3">تمتع بالعديد من العروض والخصومات على جميع خدماتنا، احجز فرحك الآن مع فرح</h5>
   
</div>

