<div class="title text-center my-3">
    <h2 class="fw-bold"> خدمات موقع فرح </h2>
    <h4>تعرف علي أحدث الخدمات لدي
        <span class="brand">
            فرح
        </span>
    </h4>
</div>



<div class="container" dir="rtl">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-5">
        <div class="nft">
          <div class="main">
            <img class="tokenImage" src="assets/weddingHall.jpg" alt="NFT" />
            <h2 class="mt-2 text-light">القاعات</h2>
            <p class="description"><button class="btn" routerLink="/hall">شاهد الكل</button></p>
          </div>
          <hr />
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5  mt-5">
        <div class="nft">
          <div class="main">
            <img class="tokenImage" src="assets/weddingCar.jpg" alt="NFT" />
            <h2 class="mt-2 text-light">السيارات</h2>
            <p class="description"><button class="btn" routerLink="/car">شاهد الكل</button></p>
          </div>
          <hr />
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5  mt-5">
        <div class="nft">
          <div class="main">
            <img class="tokenImage" src="assets/weddingDress.jpg" alt="NFT" />
            <h2 class="mt-2 text-light">الفساتين</h2>
            <p class="description"><button class="btn" routerLink="/dress">شاهد الكل</button></p>
          </div>
          <hr />
        </div>
      </div>
      
      <!-- Card 4 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <div class="nft">
          <div class="main">
            <img class="tokenImage" src="assets/weddingPhotographer.jpeg" alt="NFT" />
            <h2 class="mt-2 text-light">المصور</h2>
            <p class="description"><button class="btn" routerLink="/photographer">شاهد الكل</button></p>
          </div>
          <hr />
        </div>
      </div>
      <!-- Card 5 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <div class="nft">
          <div class="main">
            <img class="tokenImage" src="assets/beautyCenter.jpg" alt="NFT" />
            <h2 class="mt-2 text-light">بيوتي سنتر</h2>
            <p class="description"><button class="btn" routerLink="/beauty">شاهد الكل</button></p>
          </div>
          <hr />
        </div>
      </div>

       <!-- Card 6 -->
       <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <div class="nft">
          <div class="main">
            <img class="tokenImage" src="assets/allservices.jpg" alt="NFT" />
            <h2 class="mt-2 text-light">جميع الخدمات</h2>
            <p class="description"><button class="btn" routerLink="/car">شاهد الكل</button></p>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>

  
<div class="reservation text-center text-white py-5">
    <div class="background-overlay"></div>
    <h1 class="fw-bold">احجز تجهيزات فرحك الأن</h1>
    <h5 class="my-3">تمتع بالعديد من العروض والخصومات على جميع خدماتنا، احجز فرحك الآن مع فرح</h5>
   
</div>

