<header class="header sticky-top top-0">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-dark ">
      <a class="navbar-brand" href="#"><img src="../../assets/logo-sidebar.png" alt=""></a>

      <button class="navbar-toggler collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item topBotomBordersOut">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hall" routerLinkActive="active">القاعات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/car" routerLinkActive="active">السيارات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/photographer" routerLinkActive="active">المصور</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dress" routerLinkActive="active">فساتين</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/beauty" routerLinkActive="active">بيوتي سنتر</a>
          </li>
        </ul>
        <ul *ngIf="!IsLogin; else logined" class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="Login" routerLinkActive="active">انضم إلينا</a>
          </li>
        </ul>
        <ng-template #logined>
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ userInfo?.email|userName }} <img class="rounded rounded-circle loginUserImg" src="assets/ts-1.jpg" alt="">
              </a>
              <ul class="dropdown-menu text-end " aria-labelledby="navbarDropdown" dir="ltr">
                <li><a class="dropdown-item" routerLink="/">بروفايلي <i class="fa fa-user"></i></a></li>
                <li><a class="dropdown-item" routerLink="/">طلباتي <i class="fa fa-list"></i></a></li>
                <li><a class="dropdown-item" routerLink="/">المفضلة <i class="fa fa-list"></i></a></li>
                <li><a class="dropdown-item" (click)="logout()">تسجيل الخروج <i class="fa fa-sign-out"></i></a></li>
              </ul>
            </li>
          </ul>
        </ng-template>
      </div>
    </nav>
  </div>
</header>
