<header class="header sticky-top top-0">
  <div class="container ">
    <nav class="navbar navbar-expand-lg bg-dark ">
      <a class="navbar-brand" href="#">FARAH</a>
      
      <button class="navbar-toggler collapsed  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto ">
          <li class="nav-item topBotomBordersOut">
            <a class="nav-link" href="#">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">القاعات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">السيارات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">المصور</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">بيوتي سنتر</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">اتصل بنا</a>
          </li>
        </ul>
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">انضم إلينا</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
