 <div class="container">
  <div class="detail">
      <div class="image">
          <img [src]="'https://localhost:44322' + car.pictureUrls[0]" alt="{{ car.brand }}">
      </div>
      <div class="content">
        <div class="price">النوع:{{ car.brand }}</div>
          <div class="price">السعر:{{ car.price }}</div>
          <div class="price">السنة:{{ car.price }}</div>
          
          
          <div class="buttons">
              <button [routerLink]="['/favorite-car']" class="btn m-2">
                  أضف الى المفضلة <i class="fas fa-heart"></i>
              </button>
              <button [routerLink]="['/booking-car']" class="btn m-2">
                   أحجز الان <i class="fas fa-calendar-check"></i>
              </button> 
          </div>
          <div class="description" dir="rtl">
            هذه السيارة مثالية للأفراد والعائلات الذين يبحثون عن الراحة والأداء الممتاز. تتميز السيارة بمحرك قوي وفعال يضمن لك رحلة سلسة واقتصادية. تصميمها الداخلي أنيق ومريح، مزود بأحدث التقنيات لضمان تجربة قيادة مميزة. كما تتمتع السيارة بميزات أمان متقدمة لضمان سلامتك وسلامة أحبائك.
        </div>
      </div>
  </div>

  <div class="title"> مزيد من الصور</div>
  <div class="thumbnail-images">
      <div class="thumbnail" *ngFor="let image of thumbnails">
          <img [src]="image.thumb" (click)="changeImage(image.large)">
      </div>
  </div>
</div>
