// .car-image {
//   width: 100%;
// height: 30rem;
//   border-radius: 30% 70% 70% 30% / 26% 20% 80% 74%;
//   position: relative; 
// }

// .details .btn {
//   display: inline-flex;
//   align-items: center;
//   gap: 5px;
//   background-color: var(--main-color);
//   color: white;
//   border: 1px solid var(--main-color);
//   transition: all 0.3s ease;

//   .fas {
//     color: white;
//   }
// }

// .details .btn:hover {
//   background-color: transparent;
//   color: var(--main-color);
//   border: 1px solid var(--main-color);

//   .fas {
//     color: var(--main-color);
//   }
// }


// .thumbnail-images {
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
// }

// .thumbnail {
//   width: 100px;
//   height: 100px;
//   margin: 5px;
//   cursor: pointer;
//   border: 2px solid #ddd;
//   transition: border-color 0.3s, transform 0.3s;
//   border-radius: 10px;
//   object-fit: cover;
// }

// .thumbnail:hover {
//   border-color: var(--main-color);
//   transform: scale(1.05);
// }
body {
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

.container {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
}

.title {
  font-size: xx-large;
  padding: 20px 0;
}

.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: left;
}

.detail .image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail .image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 250px 150px 200px 210px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.837); /* Added shadow */
  animation: moveUpDown 2s infinite alternate; 
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.detail .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail .name {
  font-size: xxx-large;
  padding: 40px 0 0 0;
  margin: 0 0 10px 0;
}

.detail .price {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}

.detail .buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.detail .buttons button {
  background-color: #eee;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  font-size: large;
}

.detail .buttons svg {
  width: 15px;
}

.detail .buttons span {
  background-color: #555454;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
}

.detail .buttons button:nth-child(1) {
  background-color: #6b1f5f; /* Favorite button color changed */
  color: #fff;
}

.detail .buttons button:nth-child(2) {
  background-color: #2F2F2F;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  box-shadow: 0 10px 20px #2F2F2F77;
}

.detail .description {
  font-weight: 300;
  text-align: center;
}

.thumbnail-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.thumbnail {
  padding: 10px;
}

.thumbnail img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

/* // ipad */
@media only screen and (max-width: 992px) {
  .thumbnail-images {
    grid-template-columns: repeat(3, 1fr);
  }
  .detail {
    grid-template-columns: 40% 1fr;
  }
  .detail .image img {
    width: 350px;
    height: 350px;
    border-radius: 250px 150px 200px 210px; /* Keeping the same shape */
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  .thumbnail-images {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .detail .image img {
    width: 370px;
    height: 370px;
    border-radius: 250px 150px 200px 210px; /* Keeping the same shape */
  }
  .detail .name {
    font-size: x-large;
    margin: 0;
  }
  .detail .buttons button {
    font-size: small;
  }
  .detail .buttons {
    justify-content: center;
  }
}
