<div class="container-fluid mt-5 mb-5">
  <div class="row">
    <!-- Image Section -->
    <div class="col-lg-4 col-md-6 mb-3 position-relative">
      <img [src]="car.imageUrl" alt="{{ car.name }}" class="car-image img-fluid">
      <div class="coloredDiv"></div>
    </div>
    
    <div class="col-lg-8 col-md-6 details mt-5 fs-4">
      <h2>{{ car.name }}</h2>
      <p><strong>السعر:</strong> {{ car.price }}</p>
      <p><strong>السنة:</strong> {{ car.year }}</p>
      <p><strong>الوصف:</strong> {{ car.description }}</p>
      <div class="form-group w-25">
        <label for="town">المحافظة:</label>
        <select class="form-select" id="town" [(ngModel)]="car.town" name="town">
          <option *ngFor="let town of towns" [value]="town">{{ town }}</option>
        </select>
      </div>

      <div class="form-group w-25">
        <label for="city">المدينة:</label>
        <select class="form-select" id="city" [(ngModel)]="car.city" name="city">
          <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
        </select>
      </div>

     
    
      <button [routerLink]="['/favorite-car']" class="btn m-2">
        أضف الى المفضلة <i class="fas fa-heart"></i>
      </button>
      <button [routerLink]="['/booking-car']" class="btn m-2">
        أحجز الان <i class="fas fa-calendar-check"></i>
      </button>
    </div>
  </div>
</div>



