<div class="container">
  <div class="row align-items-center">
    <div class="col col-md-6 col-12">
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="d-flex justify-content-around">
          <button type="button" class="btn btn-info" (click)="goToRegister('buyer')">تسجيل مشتري</button>
          <button type="button" class="btn btn-info" (click)="goToRegister('seller')">تسجيل بائع</button>
        </div>
        <p class="title">تسجيل الدخول</p>

        <label>
          <span>الايميل</span>
          <input formControlName="email" placeholder="" type="email" class="input">
          <div class="text-danger"
            *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
            class="error">
            <div class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">البريد الإلكتروني مطلوب</div>
            <div class="text-danger"
              *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched && loginForm.get('email')?.['dirty']">
              البريد الإلكتروني غير صحيح
            </div>
          </div>
        </label>

        <label>
          <span>كلمة السر</span>
          <input formControlName="password" placeholder="" type="password" class="input">
          <div class="text-danger"
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
            class="error">
            <div class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">كلمة المرور مطلوبة</div>
            <div class="text-danger"
              *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
              class="error">
              يجب أن تحتوي كلمة المرور على حرف كبير وحرف صغير ورقم وحرف خاص ($!%*?&)</div>
          </div>
        </label>

        <div class="d-flex align-content-center justify-content-around flex-row-reverse flex-wrap">
          <div class="rememberMe-toggle d-flex align-items-center gap-2">
            <label class="toggle-switch">
              <input type="checkbox" formControlName="rememberMe">
              <div class="toggle-switch-background">
                <div class="toggle-switch-handle"></div>
              </div>
            </label>
            <label class="form-check-label fs-1" for="rememberMe">تذكرني</label>
          </div>
        </div>

        <a routerLink="/forgot-password">هل نسيت كلمة السر؟</a>

        <button type="submit" class="submit" [disabled]="loginForm.invalid">تسجيل دخول</button>
        <p class="signin">هل تريد إنشاء حساب؟
          <a routerLink="/register">إنشاء حساب</a>
        </p>
      </form>
    </div>
    <div class="col col-md-6 col-12">
      <img class="w-75" src="../../assets/7314119.svg" alt="">
    </div>
  </div>
</div>