<div class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-5 ft-aboutus">

                <!-- <img src="../../assets/Capture.PNG" class="img-fluid mb20 rounded-4 "> -->
                <p class="off-white">
                    هدفنا في فرح هو مساعدة الأشخاص في العثور على شبكة رائعة على الإنترنت تربط قاعات حفلات الزفاف
                    والأزواج.
                    <a href="/" class="orange">

                        ابحث عن قاعة
                    </a>
                </p>
                <a href="/Services/Hall/Home/ContactUsIndex" class="btn btn-outline-secondary">اتصل بنا الأن</a>
            </div>
            <div class="col-md-3 ft-link">
                <h2 class="h5"> روابط مفيدة</h2>
                <ul class="list-unstyled">
                    <li><a href="/">عن فرح </a></li>
                    <li><a href="/">تواصل معنا</a></li>
                    <li><a href="/">القاعات</a></li>

                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="h5">
                    تابعنا علي وسائل التواصل الاجتماعي

                </h2>

                <div class="social-icon mt-4">

                    <ul class="list-unstyled d-flex gap-4">
                        <li><a href="/"><i class="fa-brands fs-4 fa-square-facebook"></i></a></li>
                        <li><a href="/"><i class="fa-brands fs-4 fa-instagram"></i></a></li>
                        <li><a href="/"><i class="fa-brands fs-4 fa-twitter"></i></a></li>
                        <li><a href="/"><i class="fa-brands fs-4 fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tiny-footer">
    <!-- Tiny footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                      حقوق الملكية © 2024 
                <span class="brand fw-bold fs-4 mx-2">فرح</span>
         
            </div> 
        </div>
    </div>
</div>