<div class="container">
  <div class="detail">
    <div class="image">
      <img [src]="currentImage" alt="{{ hall.name }}">
    </div>
    <div class="content">
      <h1 class="brand">
        <i class="fas fa-home "></i> قاعه : {{ hall.name }}
      </h1>
      <div class="price my-2">
        <i class="fas fa-tag"></i> السعر: {{ hall.price | currency }}
      </div>


      <div class="buttons my-3">
        <button *ngIf="!hall.isFavorite" (click)="toogleFavorite(hall.hallID)" class="btn favorite">
          أضف إلى المفضلة <i class="fas fa-heart"></i>
        </button>
        <button *ngIf="hall.isFavorite" (click)="toogleFavorite(hall.hallID)" class="btn remove-favorite">
          حذف من المفضلة <i class="fas fa-heart text-danger"></i>
        </button>
        <button class="btn contact" (click)="openChat(hall.ownerID)">
          تواصل للحجز <i class="fas fa-calendar-check"></i>
        </button>
      </div>


    </div>
  </div>

  <div class="title">مزيد من الصور</div>
  <div class="thumbnail-images">
    <div class="thumbnail" *ngFor="let image of thumbnails">
      <img [src]="image.thumb" (mouseover)="changeImage(image.large)">
    </div>
  </div>
</div> 







<div class="col-lg-12 details fs-4">
  <!-- <h2 class="text-center hall-name"><strong>اسم لقاعه :</strong> {{ hall.name }}</h2> -->
  <div class="text-center mt-3 info-grid">
    <div class="info-item">
      <i class="fas fa-money-bill-wave info-icon"></i>
      <p><strong>السعر:</strong> {{ hall.price | currency:'EGP' }}</p>
    </div>
    <div class="info-item">
      <i class="fas fa-chair info-icon"></i>
      <p><strong>السعة:</strong> {{ hall.capacity }}</p>
    </div>
    <div class="info-item">
      <i class="fas fa-align-left info-icon"></i>
      <p><strong>الوصف:</strong> {{ hall.description }}</p>
    </div>
  </div>

  <div class="features mt-4">
    <h4 class="text-center"><i class="fas fa-star feature-icon"></i> المميزات:</h4>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="feature-item" *ngFor="let feature of hall.features">
        <i class="fas fa-check-circle feature-icon mx-2"></i>
        <span>{{ feature }}</span>
      </div>
    </div>
  </div>