/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #4f1649;
  // --main-color: #942f66;
}
.brand {
  color: var(--main-color);
  text-decoration: none;
}

.navbar {
  background-color: var(--main-color);
}

* {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.almarai-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: "Almarai", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body {
  direction: rtl;
  text-align: right;
  // background: url(https://code-theme.com/html/findhouses/images/bg/bg-pattern-dot.png)
  //   0 0 repeat !important;
}

::selection {
  background-color: var(--main-color);
}

.brandbtn {
  background-color: var(--main-color);
  color: #fff;
  letter-spacing: 2px;
}


.brandbtn:hover{
  background-color: #fff;
  color:var(--main-color);
  font-weight: bold;
  // border: 2px solid var(--main-color);

}



@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

:root {
  --mainColor:#54244f;
}



* {
  box-sizing: border-box;
}

* {
  font-family: "Tajawal", sans-serif;
}