<div class="container    ">
    <div class="row">
        <div class="col col-md-6 col-12">
            <form class="form">
                <div class="d-flex justify-content-around">
                    <button class="btn" routerLink="/register">تسجيل مشتري </button>
                    <button class="btn" routerLink="/OwnerRegister">تسجيل بائع </button>
                </div>
                <p class="title"> تسجيل صاحب خدمه </p>

                <div class="flex">
                    <label>
                        <span>الاسم الاول </span>
                        <input required="" placeholder="" type="text" class="input">
                    </label>

                    <label>
                        <span>الاسم الاخير </span>
                        <input required="" placeholder="" type="text" class="input">
                    </label>
                </div>
                <label>
                    <span>الرقم القومي </span>
                    <input required="" placeholder="" type="text" class="input">
                </label>

                <label>
                    <span>الايميل </span>
                    <input required="" placeholder="" type="email" class="input">
                </label>
                <label>
                    <select name="" id="" class="input">

                        <option value="0" selected disabled class="text-black-50"> -- اختر نوع الخدمة-
                            -</option>
                        <option value="0">قاعة افراح</option>
                        <option value="1"> سياره </option>
                        <option value="2">بيوتي سنتر </option>
                        <option value="3">مصور فوتوغرافي </option>
                        <option value="4"> تأجير فساتين </option>
                    </select>

                </label>

                
        <div class="flex">
            <div class="mb-3">
              <select id="gove" class="form-control" formControlName="governorate">
                <option value="">اختر المحافظة</option> 
                <option *ngFor="let governorate of AllGovernments" [value]="governorate.governorateID">
                  {{ governorate.name }}
                </option>
              </select>
              <!-- <div *ngIf="registerForm.get('governorate')?.invalid && registerForm.get('governorate')?.touched" class="text-danger"> -->
                المحافظة مطلوبة
              </div>
            </div>
            
            <div class="mb-3">
              <select id="city" class="form-control" formControlName="city">
                <option value="">اختر المدينة</option>
                <option *ngFor="let city of Cites" [value]="city.id">
                  {{ city.name }}
                </option>
              </select>
              <!-- <div *ngIf="registerForm.get('city')?.invalid && registerForm.get('city')?.touched" class="text-danger"> -->
                المدينة مطلوبة
              </div>
            <!-- </div> -->
         <!-- </div> -->
               
                  





                <label>
                    <input required="" placeholder="" type="password" class="input">
                    <span>كلمه السر </span>
                </label>
                <label>
                    <input required="" placeholder="" type="password" class="input">
                    <span>تأكيد كلمه السر </span>
                </label>






                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>اسم صديقك المفضل ؟</span>
                </label>
                <button class="submit">انشاء حساب </button>



            </form>

        </div>
        <div class="col col-md-6 col-12">
            <img class="w-100" src="../../assets/7314112.svg" alt="">
        </div>
    <!-- </div> -->

<!-- </div> -->