<div class="container">
  <div class="detail">
    <div class="image">
      <img [src]="currentImage" alt="{{ Photographer.description }}">
    </div>
    <div class="content">
      <div class="description my-3 " dir="rtl">
        {{Photographer.description}}
      </div> 

      <div class="buttons">
        <button *ngIf="!Photographer.isFavorite" (click)="toogleFavorite(Photographer.photographyID)" class="btn favorite">
          أضف إلى المفضلة <i class="fas fa-heart"></i>
        </button>
        <button *ngIf="Photographer.isFavorite" (click)="toogleFavorite(Photographer.photographyID)" class="btn remove-favorite">
          حذف من المفضلة <i class="fas fa-heart text-danger"></i>
        </button>
        <button class="btn contact" (click)="openChat(Photographer.ownerID)">
          تواصل للحجز <i class="fas fa-calendar-check"></i>
        </button>
      </div>

    
    </div>
  </div>

  <div class="title">مزيد من الصور</div>
  <div class="thumbnail-images">
    <div class="thumbnail" *ngFor="let image of thumbnails">
      <img [src]="image.thumb" (mouseover)="changeImage(image.large)">
    </div>
  </div>
</div>
